/ResourceBehaviours.class
/ResourceBehaviours$InformAmbulances.class
/ResourceBehaviours$RequestPerformer.class
/ResourceManager$InformAmbulances.class
/ResourceManager$RequestPerformer.class
/ResourceManager.class
